*.log
.env
composer.phar
.DS_Store
Thumbs.db
/.idea
/.vscode
/vendor
/.settings
/.buildpath
/.project
docker-compose.yml
Dockerfile
LICENSE
README.md
.github

.gitignore
.example.env
.git
.travis.yml
/runtime
/.agents
/tests
/phpunit.xml
/.phpunit.cache
frontend/node_modules
public/spa
